.drum-pad {
  height: 200px;
  width: 150px;
  background-color: rgb(30, 30, 30);
  display: flex;
  padding: 15px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  border: outset 2px gray;
  align-items: center;
}

.drum-pad:active,
.drum-pad.active {
  border: inset 2px gray;
}

.drum-pad:active > p,
.drum-pad.active > p {
  background-color: rgba(46, 73, 189, 1);
  transition: background-color 0.1s ease-in-out;
}

.drum-pad:active > span,
.drum-pad.active > span {
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.1s ease-in-out;
}

.drum-pad p {
  width: 80%;
  margin: 0 auto;
  height: 10px;
  background-color: rgba(46, 73, 189, 0.3);
}

.drum-pad span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 60px;
}

.drum-pad-row {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
}
